ul {
  list-style-type: none;
  background: 100px;
}

.rooms {
  width: 80%;
  position: center;
}

.room-index {
  background-color: transparent;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  border-radius: 20px;
}

.room-index:hover {
  background-color: black;
  color: white;
  cursor: default;
}

#delete-button{
  border-radius: 20px;
  float: left;
}

#edit-button{
  border-radius: 20px;
  float:right;
}


#create-room-form {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

label {
  display: block;
}

#new_room {
  border-radius: 20px;
}

input[type=submit]{
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
