.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.room-list-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22%;
  height: 100vh;
  background-color: #dedede;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.user-container {
  display: flex;
  height: 5%;
  margin-bottom: 30px;
}

.message-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
}
